header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 30px;
}

.header__icon {
    margin-right: 16px;
}

.header__input {
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #141414;
    margin-right: 100px;
    border: 0;
}

.header__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #505050;
}

.header__input:focus {
    outline: 0;
}

.header__signin {
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.header__signup {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
    padding: 12px 24px;
    margin-right: 60px;
    background: linear-gradient(90deg, rgba(195, 0, 109, 0.9) 5%, rgba(115, 0, 64, 0.9) 100%);
}