.container {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 32px;
}

.group {
    margin: 2px 0;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: grey;
}

span {
    color: #FFFFFF;
    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    user-select: none;
}

input {
    margin: 12px 40px 12px 0;
}